<div class="card m-5" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">{{ title() | uppercase }}</h5>
    <p class="card-text">{{ description() | slice:0:20}}</p>
    <p class="card-text">{{ price() | currency: 'COP' : 'symbol' :'1.0-0' }}</p>
    <p class="card-text">{{ date | date: format() }}</p>
<a href="#" class="btn btn-primary" (click)="changeDateFormat()">Cambiar formato de fecha</a>
  </div>
</div>


<div class="card">
    <div class="card-body">
        <h5>Titulo original: {{ title() }}</h5>
        <h5>descripcion original: {{ description() }}</h5>
        <h5>Precio original: {{ price() }}</h5>
        <h5>fecha original: {{ date }}</h5>

    </div>
</div>
